<div id="<%= dom_id project %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= project.title %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= project.description %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Application number:</strong>
    <%= project.application_number %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= project.status %>
  </p>
  <p>
    <strong>Project Start Date:</strong>
    <%= @project.project_start_date %>
  </p>
  <p>
    <strong>Estimated End Date:</strong>
    <%= @project.project_est_end_date %>
  </p>
</div>
