<!-- app/views/projects/index.html.erb -->
<div class="w-full">
  <% if notice.present? %>
  <p
    class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block"
    id="notice"
  >
    <%= notice %>
  </p>
  <% end %> <% content_for :title, "Projects" %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Projects</h1>
    <%= link_to "New project", new_project_path, class: "rounded-lg py-3 px-5
    bg-blue-600 text-white block font-medium" %>
  </div>

  <!-- Filter Form -->
  <div class="my-4">
    <%= form_with url: projects_path, method: :get, local: true do %> <%=
    select_tag :status, options_for_select(Project.statuses.keys.map { |status|
    [status.humanize, status] }, params[:status]), prompt: "Select Status",
    class: "rounded-lg py-2 px-4 bg-gray-100", onchange: "this.form.submit();"
    %> <% end %>
  </div>

  <div id="projects" class="w-full overflow-x-auto">
    <table class="min-w-full leading-normal">
      <thead>
        <tr>
          <th
            scope="col"
            class="px-5 py-3 border-b-2 border-gray-300 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider"
          >
            Title
          </th>
          <th
            scope="col"
            class="px-5 py-3 border-b-2 border-gray-300 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider"
          >
            Application Number
          </th>
          <th
            scope="col"
            class="px-5 py-3 border-b-2 border-gray-300 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider"
          >
            Status
          </th>
          <th
            scope="col"
            class="pl-5 py-3 border-b-2 border-gray-300 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase"
          >
            Actions
          </th>
        </tr>
      </thead>
      <tbody>
        <% @projects.each do |project| %>
        <tr
          id="<%= dom_id project %>"
          class="bg-white border-b border-gray-200"
        >
          <td class="px-5 py-5 text-sm"><%= project.title %></td>
          <td class="px-5 py-5 text-sm"><%= project.application_number %></td>
         <td class="px-5 py-5 text-sm">
  <% if project.status.present? %>
    <% case project.status %>
    <% when 'pending' %>
      <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-yellow-100 text-yellow-800">
        <%= project.status.capitalize %>
      </span>
    <% when 'in_progress' %>
      <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-blue-100 text-blue-800">
        <%= project.status.titleize %>
      </span>
    <% when 'completed' %>
      <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
        <%= project.status.capitalize %>
      </span>
    <% else %>
      <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-gray-100 text-gray-800">
        <%= project.status.capitalize %>
      </span>
    <% end %>
  <% else %>
    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-gray-100 text-gray-800">
      No Status
    </span>
  <% end %>
</td>


          <td class="pl-5 py-5 text-sm text-left">
            <%= link_to "Show this project", project, class: "rounded-lg py-3
            px-5 bg-gray-100 inline-block font-medium" %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
