<!-- app/views/projects/show.html.erb -->
<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @project %>

    <%= link_to "Edit this project", edit_project_path(@project), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Back to projects", projects_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Add new phase", new_project_phase_path(@project), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy this project", @project, method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>

    <!-- Filter Form -->
    <% if @project.phases.any? %>
      <div class="my-4">
        <%= form_with url: project_path(@project), method: :get, local: true do %>
          <%= select_tag :phase_status, options_for_select(Phase.statuses.keys.map { |status| [status.humanize, status] }, params[:phase_status]), prompt: "Select Phase Status", class: "rounded-lg py-2 px-4 bg-gray-100", onchange: "this.form.submit();" %>
        <% end %>
      </div>
    <% end %>

    <div id="phases" class="min-w-full">
      <% @phases.each do |phase| %>
        <%= render phase %>
        <p>
          <%= link_to "Show this phase", project_phase_path(@project, phase), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
        </p>
      <% end %>
    </div>
  </div>
</div>
